# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Install buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v3
      with:
        version: latest
    
    - name: Login to docker hub
      run: echo "${{ secrets.DOCKER_PWD }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      
    # Runs a set of commands using the runners shell
    - name: Build the image
      run: |
        docker buildx build --push \
            --tag chariothy/dnspod:latest \
            --platform linux/386,linux/amd64,linux/arm64,linux/arm/v7 .
